<section id="articles">
  <% for article in articles[0...3] %>
    <article class="article">
      <header>
        <h1><a href="<%= article.path %>"><%= article.title %></a></h1>
        <span class="date"><%= article.date %></span>
      </header>
      
      <% if article.image_src %>
      <figure>
        <img src="<%= article.image_src || '/img/missing_thumb.png' %>" alt="Post thumbnail" class="thumbnail alignleft" />
      </figure>
      <% end %>
      
      <section class="content">
        <%= article.summary %>
      </section>
      
      <footer>
        <%= article.read_more_link %>
        <span class="meta">
          <p>Posted by <%= article.author %> in <%= article.tag_links %> on <%= article.date %></p>
        </div>
      </footer>
    </article>
  <% end %>
</section>
